$primaryColor: #232323; // main color for text and for the elements background
$secondaryColor: #ebebeb; // secondary color for the elements background
$accentColor: #f09e00; // accent color for active links, little details and hovers
$iconColor: #b7b7b7; // icons and bars background color
$playerNameColor: #292929; // color in player details modal
$playerDetailsText: #434343; // player info color in player details modal
$playerPositionColor: #000000; // color in player details modal
$barColor: #21723a; // color of progress and scroll bar

$headerHeight: 40px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// if modal is open disable scroll on body
body.modal-open {
  overflow: hidden;
}